@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: stretch;
  width: stretch;
}

html {
  background: #010c15;
  height: stretch;
  width: stretch;
  margin: 30px;
}

@media (max-width: 400px) {
  html {
    margin: 12.5px; /* Adjusted margin for smaller screens */
  }
}

nav {
  @apply text-[#607B96];
  @apply text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-white;
}

 {
  /* TODO: convert to tailwind */
}
/* mobile blur containers */
.css-blurry-gradient-blue {
  position: fixed;
  bottom: 25%;
  right: 5%;
  width: 300px;
  height: 300px;
  border-radius: 0% 0% 50% 50%;
  rotate: 10deg;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  opacity: 0.5;
  z-index: 10;
}

.css-blurry-gradient-green {
  position: absolute;
  top: 20%;
  right: 30%;
  width: 300px;
  height: 300px;
  border-radius: 0% 50% 0% 50%;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
  opacity: 0.5;
  z-index: 10;
}

/* pc blur containers */
.css-blurry-gradient-blue1 {
  position: absolute;
  left: 258px;
  top: 32px;
  rotate: 36deg;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  opacity: 0.5;
  z-index: 10;
  width: 200px;
  height: 450px;
  opacity: 0.65;
  border-radius: 100% 50% 100% 0%;
}

.css-blurry-gradient-blue2 {
  position: fixed;
  bottom: 12%;
  right: 13%;
  width: 300px;
  height: 300px;
  border-radius: 0% 0% 50% 50%;
  rotate: 10deg;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  opacity: 0.5;
  z-index: 10;
}

.css-blurry-gradient-green1 {
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
  opacity: 0.4;
  z-index: 10;
  position: absolute;
  bottom: 118px;
  right: 142px;
  filter: blur(65px);
  rotate: 10deg;
  width: 400px;
  height: 400px;
  border-radius: 100% 0% 0% 0%;
  rotate: 20deg;
}

.css-blurry-gradient-green-small {
  position: absolute;
  left: 220px;
  bottom: 205px;
  width: 200px;
  height: 200px;
  border-radius: 0% 50% 0% 50%;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
  opacity: 0.5;
  z-index: 10;
  rotate: 10deg;
}
